@font-face {
  font-family: 'Bebas';
  /* src: url('../Gaya-Demo-Regular.ttf') format('truetype'); */
  /* src: url('../PPEditorialOld-Regular.otf') format('opentype'); */
  /* src: url('../PPEditorialOld-Ultralight.otf') format('opentype'); */

  /* src: url('../TobiasTRIAL-Light.otf') format('opentype'); */
  /* src: url('../TobiasTRIAL-Light.otf') format('opentype'); */
  /* src: url('../ESNeinTRIAL-Extrabold.ttf') format('truetype'); */
  /* src: url('../Mango Grotesque-VF.ttf') format('truetype'); */
  /* src: url('../GreedCondensedTRIAL-SemiBold.otf') format('opentype'); */
  src:
    url('../BebasNeue-Regular.woff2') format('woff2'),
    url('../BebasNeue-Regular.woff') format('woff');
  /* font-weight: 500; */
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: 'Gaya';
  src: url('../Gaya-Demo-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tobias';
  src: url('../TobiasTRIAL-Light.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mango';
  src: url('../GreedCondensedTRIAL-SemiBold.otf') format('opentype');
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Maison Neue';
  src:
    url('../MaisonNeue-MediumItalic.woff2') format('woff2'),
    url('../MaisonNeue-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
} */

* {
  margin: 0;
  padding: 0;
}

:root {
  --padding-x: 30px;
  --padding-x-sm: 15px;
  --padding: 0;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #adadad;
  --color-light: #efefef;
  --color-text: var(--color-grey);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-code-light-grey: #cacbd1;
  --color-code-comment: #a9aaad;
  --color-code-white: #c5c9c6;
  --color-code-red: #d16464;
  --color-code-orange: #de935f;
  --color-code-yellow: #f0c674;
  --color-code-green: #a7bd68;
  --color-code-aqua: #8abeb7;
  --color-code-blue: #7e9abf;
  --color-code-purple: #b294bb;
  --font-big: 70px;
  --font-big-xs: 40px;
  --font-base: 1.5rem;
  --font-base-xs: 1.2rem;
  --font-family-sans: 'Bebas', Helvetica, Arial, sans-serif,
    --font-family-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
}

html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  /* background: var(--color-background); */
}
img {
  width: 100%;
}
body {
  padding: var(--padding);
  margin: 0 auto;
  font-family: 'Bebas';
  font-size: var(--font-base);
}

li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font: inherit;
  background: none;
  border: 0;
  color: currentColor;
  cursor: pointer;
}
strong,
b {
  font-weight: 600;
}
small {
  font-size: inherit;
  color: var(--color-text-grey);
}

.bg-light {
  background-color: var(--color-light);
}
.color-grey {
  color: var(--color-text-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.text {
  line-height: 1.5em;
}
.text a {
  text-decoration: underline;
}
.text :first-child {
  margin-top: 0;
}
.text :last-child {
  margin-bottom: 0;
}
.text p,
.text ul,
.text ol {
  margin-bottom: 1.5rem;
}
.text ul,
.text ol {
  margin-left: 1rem;
}
.text ul p,
.text ol p {
  margin-bottom: 0;
}
.text ul > li {
  list-style: disc;
}
.text ol > li {
  list-style: decimal;
}
.text ul ol,
.text ul ul,
.text ol ul,
.text ol ol {
  margin-bottom: 0;
}

hr {
  border: 0;
  background: currentColor;
  height: 2px;
  width: 1.5rem;
  margin: 3rem auto;
}

.align-center {
  text-align: center;
}

.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}
.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: 0.75rem;
  line-height: 1.5em;
}
